html, body {
    height: 100%;
    font: 16px "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container, #logo, #result {
    display: flex;
    flex-direction: column;
}

#container {
    height: 100%;
}

#logo {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
}

.titulo {
    font-size: 2.5em;
    color: rgb(23, 177, 23);
    text-shadow: 2px 2px 1px #CCC;
    margin-left: 20px;
}

#logo img {
    width: 100px;
}

#result {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(204, 231, 204);
    margin: 0 auto;
    height: 70%;
    width: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #AAA;
    padding: 10px;

}

#result h2 {
    color: #555;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    #result {
        width: 80%;
        padding: 15px;
    }

    #result h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .titulo {
        display: none;
    }

    #logo {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1000px) {
    #result {
        width: 920px;
        padding: 30px;
    }

    .titulo {
        font-size: 3em;
    }
}